* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    min-height: 100vh;
    min-width: 100%;
}

body{
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* background-color: rgb(230, 230, 230); */
    min-height: 100%;
    min-width: 100%; 
    
}

div {
    font-family: 'Courier New', Courier, monospace;
}

.background {
    background-image: url('/assets/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
    background-attachment: fixed;
}

.middle{
    padding-left: 15%;
    padding-right: 15%;
}

.main{
    width: 100%;
    display: flex;
    height: calc(100vh - 77px);
    
    justify-content: space-evenly;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero-body {
    margin-top: 20px;
    background-color: white;
    border: 1px solid rgb(204, 184, 184);
    border-radius: 20px;
    padding: 30px;
}

.hero-body > p {
    font-size: large;
    margin: 0;
}

.contain {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.image {
    text-align: center;
    
}

.is-rounded {
    border-radius: 50%;
    height: 256px;
}

.site-title {
    color: white !important;
    font-size: 30px;
    font-variant: petite-caps;
    letter-spacing: 1px;
    font-style: italic;
    display: block;
    padding: .5rem 1rem;
}

.custom-primary-btn {
    background-color: #6495ED;
    transition: all 0.3s;
    color: white;
    cursor: pointer;
    padding: 12px 36px;
    box-shadow: none;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    outline: none;
}


.custom-primary-btn:hover {
    transform: scale(1.1);
}

.white-link,
.white-link:hover {
    color: white;
    outline: none;
    text-decoration: none;
}

.mobile {
    display: none !important;
}

.pages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: -5%;
}

.subtitle {
    font-size: 4vw;
    font-weight: 700;
    text-align: left;
    color: white;
    font-style: italic;
    text-transform: capitalize;

    position: relative;
    top: 5%;
}

@media screen and (min-width: 800px) {
    .subtitle {
        font-size: 3vw !important;
    }
}

@media screen and (max-width: 600px) {
    .is-rounded {
        height: 128px;;
    }

    .menu {
        display: none;
    }

    .mobile {
        display: flex !important;
    }

    .contain {
        align-self: center;
    }
}

@media screen and (max-width: 400px) {
    .subtitle {
        font-size: 6vw;
        
        padding-right: 20px;
        padding-left: 20px;
    }
}

footer {
    height: 80px;
    margin-top: 20px;
    background-color: lightgrey;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1vh 0;
}

.custom-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #212529;
    padding: 20px;
}

.custom-footer > a {
    font-size: larger;
}

